body, html, #main {
    margin: 0;
    padding: 0;
    min-width: 400px;
    min-height: 600px;
    font: {
        size: 19px;
        family: 'Nunito', sans-serif;
    }
    
    background-color: #fafafa;
}

a {
    text-decoration: none;
    color: #1e88e5;
}